<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="f">
    <div style="text-align: center;background-color: white">
        <a href="http://www.beian.miit.gov.cn/">桂ICP备20005695号</a>
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=45098102000418" style="text-decoration: none"><img src="/static/images/beian.png" alt="" style="height: 15px">桂公网安备45098102000418号</a>
    </div>
    <!-- /#footer-->
</div>
</body>
</html>