<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="m">
    <nav class="navbar navbar-expand-lg">
        <div class="container"><a href="/" class="navbar-brand home"><img src="static/images/img/logo3.png" style="height: 60px" alt="Obaju logo" class="d-none d-md-inline-block"><img src="static/images/img/logo3.png" alt="LeDao宠物医院" style="width: 140px" class="d-inline-block d-md-none"><span class="sr-only">Obaju - go to homepage</span></a>
            <div class="navbar-buttons">
                <button type="button" data-toggle="collapse" data-target="#navigation" class="btn btn-outline-secondary navbar-toggler"><span class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>
                <button type="button" data-toggle="collapse" data-target="#search" class="btn btn-outline-secondary navbar-toggler"><span class="sr-only">Toggle search</span><i class="fa fa-search"></i></button><a href="basket.html" class="btn btn-outline-secondary navbar-toggler"><i class="fa fa-shopping-cart"></i></a>
            </div>
            <div id="navigation" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a href="/" class="nav-link active">主页</a></li>
                    <li class="nav-item dropdown menu-large"><a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">客户服务<b class="caret"></b></a>
                        <ul class="dropdown-menu megamenu">
                            <li>
                                <div class="row">
                                    <div class="col-md-6 col-lg-3">
                                        <h5>Clothing</h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a href="category.html" class="nav-link">T-shirts</a></li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Shirts</a></li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Pants</a></li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Accessories</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                        <h5>Shoes</h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a href="category.html" class="nav-link">Trainers</a></li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Sandals</a></li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Hiking shoes</a></li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Casual</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                        <h5>Accessories</h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a href="category.html" class="nav-link">Trainers</a></li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Sandals</a></li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Hiking shoes</a></li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Casual</a></li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Hiking shoes</a></li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Casual</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                        <h5>Featured</h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a href="category.html" class="nav-link">Trainers</a></li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Sandals</a></li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Hiking shoes</a></li>
                                        </ul>
                                        <h5>Looks and trends</h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a href="category.html" class="nav-link">Trainers</a></li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Sandals</a></li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Hiking shoes</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown menu-large"><a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">购物服务<b class="caret"></b></a>
                        <ul class="dropdown-menu megamenu">
                            <li>
                                <div class="row">
                                    <div class="col-md-6 col-lg-3">
                                        <h5>Clothing</h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a href="category.html" class="nav-link">T-shirts</a></li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Shirts</a></li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Pants</a></li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Accessories</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                        <h5>Shoes</h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a href="category.html" class="nav-link">Trainers</a></li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Sandals</a></li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Hiking shoes</a></li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Casual</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                        <h5>Accessories</h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a href="category.html" class="nav-link">Trainers</a></li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Sandals</a></li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Hiking shoes</a></li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Casual</a></li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Hiking shoes</a></li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Casual</a></li>
                                        </ul>
                                        <h5>Looks and trends</h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a href="category.html" class="nav-link">Trainers</a></li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Sandals</a></li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Hiking shoes</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                        <div class="banner"><a href="#"><img src="static/images/img/banner.jpg" alt="" class="img img-fluid"></a></div>
                                        <div class="banner"><a href="#"><img src="static/images/img/banner2.jpg" alt="" class="img img-fluid"></a></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown menu-large"><a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">了解我们<b class="caret"></b></a>
                        <ul class="dropdown-menu megamenu">
                            <li>
                                <div class="row">
                                    <div class="col-md-6 col-lg-3">
                                        <h5>医院公告<a href="#"><strong style="float: right">更多...</strong></a></h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a href="index.html" class="nav-link">医院公告医院公告医院公告医院公告</a></li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">医院公告医院公告医院公告医院公告</a></li>
                                            <li class="nav-item"><a href="category-right.html" class="nav-link">医院公告医院公告医院公告医院公告</a></li>
                                            <li class="nav-item"><a href="category-full.html" class="nav-link">医院公告医院公告医院公告医院公告</a></li>
                                            <li class="nav-item"><a href="detail.html" class="nav-link">医院公告医院公告医院公告医院公告</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                        <h5>医院新闻<a href="#"><strong style="float: right">更多...</strong></a></h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a href="register.html" class="nav-link">医院新闻医院新闻医院新闻医院新闻</a></li>
                                            <li class="nav-item"><a href="customer-orders.html" class="nav-link">医院新闻医院新闻医院新闻医院新闻</a></li>
                                            <li class="nav-item"><a href="customer-order.html" class="nav-link">医院新闻医院新闻医院新闻医院新闻</a></li>
                                            <li class="nav-item"><a href="customer-wishlist.html" class="nav-link">医院新闻医院新闻医院新闻医院新闻</a></li>
                                            <li class="nav-item"><a href="customer-account.html" class="nav-link">医院新闻医院新闻医院新闻医院新闻</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                        <h5>宠物大全<a href="#"><strong style="float: right">更多...</strong></a></h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a href="basket.html" class="nav-link">宠物大全宠物大全宠物大全宠物大全</a></li>
                                            <li class="nav-item"><a href="checkout1.html" class="nav-link">宠物大全宠物大全宠物大全宠物大全</a></li>
                                            <li class="nav-item"><a href="checkout2.html" class="nav-link">宠物大全宠物大全宠物大全宠物大全</a></li>
                                            <li class="nav-item"><a href="checkout3.html" class="nav-link">宠物大全宠物大全宠物大全宠物大全</a></li>
                                            <li class="nav-item"><a href="checkout4.html" class="nav-link">宠物大全宠物大全宠物大全宠物大全</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                        <h5>用药常识<a href="#"><strong style="float: right">更多...</strong></a></h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a href="blog.html" class="nav-link">用药常识用药常识用药常识用药常识</a></li>
                                            <li class="nav-item"><a href="post.html" class="nav-link">用药常识用药常识用药常识用药常识</a></li>
                                            <li class="nav-item"><a href="faq.html" class="nav-link">用药常识用药常识用药常识用药常识</a></li>
                                            <li class="nav-item"><a href="text.html" class="nav-link">用药常识用药常识用药常识用药常识</a></li>
                                            <li class="nav-item"><a href="text-right.html" class="nav-link">用药常识用药常识用药常识用药常识</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="navbar-buttons d-flex justify-content-end">
                    <!-- /.nav-collapse-->
                    <div id="search-not-mobile" class="navbar-collapse collapse"></div><a data-toggle="collapse" href="#search" class="btn navbar-btn btn-primary d-none d-lg-inline-block"><span class="sr-only">Toggle search</span><i class="fa fa-search"></i></a>
                    <div id="basket-overview" class="navbar-collapse collapse d-none d-lg-block"><a href="basket.html" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span>我的购物车</span></a></div>
                </div>
            </div>
        </div>
    </nav>
    <div id="search" class="collapse">
        <div class="container">
            <form role="search" class="ml-auto">
                <div class="input-group">
                    <input type="text" placeholder="Search" class="form-control">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>