<?xml version="1.0" encoding="UTF-8" ?>
<!--suppress ALL-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ledao.mapper.ArticleMapper">

    <resultMap id="ArticleResult" type="Article">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="releaseDate" column="releaseDate"/>
        <result property="click" column="click"/>
        <result property="content" column="content"/>
        <result property="typeId" column="typeId"/>
    </resultMap>
    <select id="list" parameterType="map" resultMap="ArticleResult">
        select * from t_article
        <where>
            <if test="title!=null and title!=''">
                and title like #{title}
            </if>
            <if test="typeId!=null">
                and typeId=#{typeId}
            </if>
        </where>
        order by releaseDate desc
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>
    <select id="getCount" resultType="java.lang.Long">
        select count(*) from t_article
        <where>
            <if test="title!=null and title!=''">
                and title like #{title}
            </if>
            <if test="typeId!=null">
                and typeId=#{typeId}
            </if>
        </where>
    </select>
    <insert id="add" parameterType="Article">
        insert into t_article (title, releaseDate, click, typeId, content) values (#{title},now(),0,#{typeId},#{content});
    </insert>
    <update id="update" parameterType="Article">
        update t_article
        <set>
            <if test="title != null and title != ''">
                title=#{title},
            </if>
            <if test="releaseDate != null">
                releaseDate=#{releaseDate},
            </if>
            <if test="click != null">
                click=#{click},
            </if>
            <if test="typeId != null">
                typeId=#{typeId},
            </if>
            <if test="content != null and content != ''">
                content=#{content},
            </if>
        </set>
        where id=#{id}
    </update>
    <delete id="delete" parameterType="integer">
        delete from t_article where id=#{id}
    </delete>
    <select id="findById" parameterType="integer" resultMap="ArticleResult">
        select * from t_article where id=#{id}
    </select>
    <select id="getLast" parameterType="integer" resultMap="ArticleResult">
        select * from t_article where id &lt; #{id} order by id desc limit 1
    </select>
    <select id="getNext" parameterType="integer" resultMap="ArticleResult">
        select * from t_article where id &gt; #{id} order by id asc limit 1
    </select>
    <select id="findByTypeId" parameterType="integer" resultMap="ArticleResult">
        select * from t_article where typeId=#{typeId} order by releaseDate desc
    </select>

</mapper>
