<?xml version="1.0" encoding="UTF-8" ?>
<!--suppress ALL-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ledao.mapper.CustomerReturnListGoodsMapper">

    <resultMap id="CustomerReturnListGoodsResult" type="CustomerReturnListGoods">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="model" column="model"/>
        <result property="goodsId" column="goodsId"/>
        <result property="unit" column="unit"/>
        <result property="price" column="price"/>
        <result property="num" column="num"/>
        <result property="total" column="total"/>
        <association property="customerReturnList" column="customerReturnListId" select="com.ledao.mapper.CustomerReturnListMapper.findById"></association>
        <association property="type" column="typeId" select="com.ledao.mapper.GoodsTypeMapper.findById"></association>
    </resultMap>

    <select id="listByCustomerReturnListId" parameterType="integer" resultMap="CustomerReturnListGoodsResult">
        select * from t_customer_return_list_goods where customerReturnListId=#{customerReturnListId}
    </select>

    <delete id="deleteByCustomerReturnListId" parameterType="integer">
        delete from t_customer_return_list_goods where customerReturnListId=#{customerReturnListId}
    </delete>

    <select id="getTotalByGoodsId" resultType="java.lang.Long">
        select sum(num) as total from t_customer_return_list_goods where goodsId=#{goodsId}
    </select>

    <select id="list" parameterType="map" resultMap="CustomerReturnListGoodsResult">
        select * from t_customer_return_list_goods
        <where>
            <if test="customerReturnListId!=null ">
                and customerReturnListId=#{customerReturnListId}
            </if>
            <if test="typeId!=null ">
                and typeId=#{typeId}
            </if>
            <if test="codeOrName!='' and codeOrName!=null">
                and concat(`code`, `name`) like concat('%',#{codeOrName},'%')
            </if>
        </where>
    </select>
    <insert id="add" parameterType="CustomerReturnListGoods">
        insert into t_customer_return_list_goods (code, goodsId, model, name, num, price, total, unit, customerReturnListId, typeId) values (#{code},#{goodsId},#{model},#{name},#{num},#{price},#{total},#{unit},#{customerReturnList.id},#{type.id});
    </insert>

</mapper>
