<?xml version="1.0" encoding="UTF-8" ?>
<!--suppress ALL-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ledao.mapper.CustomerMapper">

    <resultMap id="CustomerResult" type="Customer">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="contact" column="contact"/>
        <result property="number" column="number"/>
        <result property="address" column="address"/>
        <result property="remarks" column="remarks"/>
        <result property="userName" column="userName"/>
        <result property="password" column="password"/>
        <result property="imageName" column="imageName"/>
        <result property="sex" column="sex"/>
    </resultMap>

    <select id="findByName" parameterType="string" resultMap="CustomerResult">
        select * from t_customer
        <where>
            <if test="_parameter != null and _parameter != ''">
                userName like #{userName}
            </if>
        </where>
    </select>

    <select id="list" parameterType="map" resultMap="CustomerResult">
        select * from t_customer
        <where>
            <if test="name!=null and name!=''">
                and name like #{name}
            </if>
            <if test="userName!=null and userName!=''">
                and userName like #{userName}
            </if>
        </where>
        <if test="start!=null and size!=null ">
            limit #{start},#{size}
        </if>
    </select>

    <select id="getCount" parameterType="map" resultType="java.lang.Long">
        select count(*) from t_customer
        <where>
            <if test="name!=null and name!=''">
                and name like #{name}
            </if>
            <if test="userName!=null and userName!=''">
                and userName like #{userName}
            </if>
        </where>
    </select>

    <insert id="add" parameterType="Customer">
        insert into t_customer (address, contact, name, number, remarks,userName,password,imageName) values (#{address},#{contact},#{name},#{number},#{remarks},#{userName},#{password},#{imageName});
    </insert>

    <update id="update" parameterType="Customer">
        update t_customer
        <set>
            <if test="name != null and name != ''">
                name=#{name},
            </if>
            <if test="userName != null and userName != ''">
                userName=#{userName},
            </if>
            <if test="password != null and password != ''">
                password=#{password},
            </if>
            <if test="imageName != null and imageName != ''">
                imageName=#{imageName},
            </if>
            <if test="address != null and address != ''">
                address=#{address},
            </if>
            <if test="contact != null and contact != ''">
                contact=#{contact},
            </if>
            <if test="name != null and name != ''">
                number=#{number},
            </if>
            <if test="name != null and name != ''">
                remarks=#{remarks},
            </if>
        </set>
        where id=#{id}
    </update>

    <delete id="delete" parameterType="integer">
        delete from t_customer where id=#{id}
    </delete>

    <select id="findById" parameterType="integer" resultMap="CustomerResult">
        select * from t_customer where id=#{id}
    </select>
    <select id="findByUserName" parameterType="string" resultMap="CustomerResult">
        select * from t_customer where userName=#{userName}
    </select>
    <select id="getCountByUserName" parameterType="string" resultType="java.lang.Long">
        select count(*) from t_customer where userName=#{userName}
    </select>
    <select id="findByContact" parameterType="string" resultMap="CustomerResult">
        select * from t_customer where contact=#{contact}
    </select>

</mapper>
