<?xml version="1.0" encoding="UTF-8" ?>
<!--suppress ALL-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ledao.mapper.MenuMapper">

    <resultMap id="MenuResult" type="Menu">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="url" column="url"/>
        <result property="state" column="state"/>
        <result property="icon" column="icon"/>
        <result property="pId" column="pId"/>
    </resultMap>

    <select id="findByParentIdAndRoleId" parameterType="integer" resultMap="MenuResult">
        select * from t_menu where pId=#{param1} and id in(select menuId from t_role_menu where roleId=#{param2})
    </select>

    <select id="findByRoleId" parameterType="integer" resultMap="MenuResult">
        select m.* from t_role r,t_role_menu rm,t_menu m where rm.roleId=r.id and rm.menuId=m.id and r.id=#{roleId}
    </select>

    <select id="findById" parameterType="integer" resultMap="MenuResult">
        select * from t_menu where id=#{id}
    </select>

    <select id="findByParentId" parameterType="integer" resultMap="MenuResult">
        select * from t_menu where pId=#{parentId}
    </select>


</mapper>
