<?xml version="1.0" encoding="UTF-8" ?>
<!--suppress ALL-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ledao.mapper.OverflowListGoodsMapper">

    <resultMap id="OverflowListGoodsResult" type="OverflowListGoods">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="model" column="model"/>
        <result property="goodsId" column="goodsId"/>
        <result property="unit" column="unit"/>
        <result property="price" column="price"/>
        <result property="num" column="num"/>
        <result property="total" column="total"/>
        <association property="overflowList" column="overflowListId" select="com.ledao.mapper.OverflowListMapper.findById"></association>
        <association property="type" column="typeId" select="com.ledao.mapper.GoodsTypeMapper.findById"></association>
    </resultMap>
    <select id="listByOverflowListId" parameterType="integer" resultMap="OverflowListGoodsResult">
        select * from t_overflow_list_goods where overflowListId=#{overflowListId} order by code asc
    </select>
    <delete id="deleteByOverflowListId" parameterType="integer">
        delete from t_overflow_list_goods where overflowListId=#{overflowListId}
    </delete>
    <insert id="add" parameterType="OverflowListGoods">
        insert into t_overflow_list_goods (code, goodsId, model, name, num, price, total, unit, overflowListId, typeId) values (#{code},#{goodsId},#{model},#{name},#{num},#{price},#{total},#{unit},#{overflowList.id},#{type.id});
    </insert>

</mapper>
