<?xml version="1.0" encoding="UTF-8" ?>
<!--suppress ALL-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ledao.mapper.ReservationMapper">

    <resultMap id="ReservationResult" type="Reservation">
        <result property="id" column="id"/>
        <result property="type" column="type"/>
        <result property="reserveDate" column="reserveDate"/>
        <result property="createDate" column="createDate"/>
        <result property="hour" column="hour"/>
        <result property="minute" column="minute"/>
        <result property="description" column="description"/>
        <result property="status" column="status"/>
        <result property="remarks" column="remarks"/>
        <association property="customer" column="customerId" select="com.ledao.mapper.CustomerMapper.findById"></association>
        <association property="pet" column="petId" select="com.ledao.mapper.PetMapper.findById"></association>
        <association property="user" column="userId" select="com.ledao.mapper.UserMapper.findById"></association>
    </resultMap>
    <select id="list" parameterType="map" resultMap="ReservationResult">
        select * from t_reservation
        <where>
            <if test="type!=null and type!=''">
                and type=#{type}
            </if>
            <if test="customerId!=null">
                and customerId=#{customerId}
            </if>
            <if test="userId!=null">
                and userId=#{userId}
            </if>
            <if test="petId!=null">
                and petId=#{petId}
            </if>
            <if test="user!=null">
                and userId=#{user.id}
            </if>
            <if test="userId!=null">
                and userId=#{userId}
            </if>
            <if test="status!=null">
                and status=#{status}
            </if>
            <if test="isRemind!=null">
                and isRemind=#{isRemind}
            </if>
            <if test="bSaleDate!=null">
                and date_format(reserveDate,'%Y-%m-%d %H:%i:%S') &gt;= date_format(#{bSaleDate},'%Y-%m-%d %H:%i:%S')
            </if>
            <if test="eSaleDate!=null">
                and date_format(reserveDate,'%Y-%m-%d %H:%i:%S') &lt;= date_format(#{eSaleDate},'%Y-%m-%d %H:%i:%S')
            </if>
        </where>
        <if test="key==null">
            order by reserveDate desc
        </if>
        <if test="key!=null">
            order by reserveDate asc
        </if>
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>
    <select id="getCount" parameterType="map" resultType="java.lang.Long">
        select count(*) from t_reservation
        <where>
            <if test="type!=null and type!=''">
                and type=#{type}
            </if>
            <if test="customerId!=null">
                and customerId=#{customerId}
            </if>
            <if test="petId!=null">
                and petId=#{petId}
            </if>
            <if test="user!=null">
                and userId=#{user.id}
            </if>
            <if test="userId!=null">
                and userId=#{userId}
            </if>
            <if test="status!=null">
                and status=#{status}
            </if>
            <if test="isRemind!=null">
                and isRemind=#{isRemind}
            </if>
            <if test="bSaleDate!=null">
                and date_format(reserveDate,'%Y-%m-%d %H:%i:%S') &gt;= date_format(#{bSaleDate},'%Y-%m-%d %H:%i:%S')
            </if>
            <if test="eSaleDate!=null">
                and date_format(reserveDate,'%Y-%m-%d %H:%i:%S') &lt;= date_format(#{eSaleDate},'%Y-%m-%d %H:%i:%S')
            </if>
        </where>
    </select>
    <insert id="add" parameterType="Reservation">
        insert into t_reservation (type, customerId, petId, createDate, reserveDate, description, status,isRemind) values (#{type},#{customer.id},#{pet.id},now(),#{reserveDate},#{description},0,0);
    </insert>
    <update id="update" parameterType="Reservation">
        update t_reservation
        <set>
            <if test="type != null and type != ''">
                type=#{type},
            </if>
            <if test="reserveDate != null">
                reserveDate=#{reserveDate},
            </if>
            <if test="description != null and description != ''">
                description=#{description},
            </if>
            <if test="pet!=null">
                petId=#{pet.id},
            </if>
            <if test="status != null">
                status=#{status},
            </if>
            <if test="user != null">
                userId=#{user.id},
            </if>
            <if test="customer != null">
                customerId=#{customer.id},
            </if>
            <if test="remarks != null and remarks != ''">
                remarks=#{remarks},
            </if>
            <if test="isRemind != null">
                isRemind=#{isRemind},
            </if>
            <if test="isCancel != null">
                userId=null,
                description=null,
            </if>
        </set>
        where id=#{id}
    </update>
    <delete id="delete" parameterType="integer">
        delete from t_reservation where id=#{id}
    </delete>
    <select id="findById" parameterType="integer" resultMap="ReservationResult">
        select * from t_reservation where id=#{id}
    </select>
    <select id="notRemindAndReserveSuccessfully" resultMap="ReservationResult">
        select * from t_reservation t1 where date_format(reserveDate,'%Y-%m-%d')= date_format(now(),'%Y-%m-%d') and t1.status=1 and isRemind=0;
    </select>
    <select id="notArrangeTodayWhenCreate" resultMap="ReservationResult">
        select * from t_reservation t1 where DATE_ADD(now(),interval -8 hour)>reserveDate and t1.status=0 and  DATE_ADD(reserveDate,interval 24 hour)>now();
    </select>
    <insert id="addReservationForTomorrow" parameterType="Reservation">
        insert into t_reservation (type, createDate, reserveDate, status, isRemind,hour,minute,userId) values (#{type},now(),concat(DATE_ADD(current_date(),interval 1 day),' ',#{hour},':',#{minute},':00'),0,0,#{hour},#{minute},#{user.id});
    </insert>
    <select id="expiredReservation" resultMap="ReservationResult">
        SELECT * FROM t_reservation WHERE id IN(SELECT t1.id AS reservationId FROM t_reservation t1 WHERE DATE_ADD(reserveDate,INTERVAL -5 MINUTE)&lt;=NOW() AND t1.status=0);
    </select>
</mapper>
