<?xml version="1.0" encoding="UTF-8" ?>
<!--suppress ALL-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ledao.mapper.RoleMenuMapper">

    <resultMap id="RoleMenuResult" type="RoleMenu">
        <result property="id" column="id"/>
        <association property="role" column="roleId" select="com.ledao.mapper.RoleMapper.findById"></association>
        <association property="menu" column="menuId" select="com.ledao.mapper.MenuMapper.findById"></association>
    </resultMap>

    <delete id="deleteByRoleId" parameterType="integer">
        delete from t_role_menu where roleId=#{roleId}
    </delete>

    <insert id="add" parameterType="integer">
        insert into t_role_menu values (null ,#{param1},#{param2});
    </insert>


</mapper>
