<?xml version="1.0" encoding="UTF-8" ?>
<!--suppress ALL-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ledao.mapper.SaleListPaymentInformationMapper">
    <resultMap id="SaleListPaymentInformationResult" type="SaleListPaymentInformation">
        <result property="id" column="id"/>
        <result property="type" column="type"/>
        <result property="amount" column="amount"/>
        <result property="payDate" column="payDate"/>
        <result property="saleNumber" column="saleNumber"/>
        <result property="customerId" column="customerId"/>
    </resultMap>
    <select id="list" parameterType="map" resultMap="SaleListPaymentInformationResult">
        select * from t_salelist_payment_information
        <where>
            <if test="saleNumber!=null">
                and saleNumber like #{saleNumber}
            </if>
            <if test="type!=null">
                and type = #{type}
            </if>
            <if test="customerId!=null">
                and customerId = #{customerId}
            </if>
            <if test="bSaleDate!=null">
                and date_format(payDate,'%Y-%m-%d %H:%i:%S') &gt;= date_format(#{bSaleDate},'%Y-%m-%d %H:%i:%S')
            </if>
            <if test="eSaleDate!=null">
                and date_format(payDate,'%Y-%m-%d %H:%i:%S') &lt;= date_format(#{eSaleDate},'%Y-%m-%d %H:%i:%S')
            </if>
        </where>
        order by payDate desc
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
        </select>
    <select id="getCount" parameterType="map" resultType="java.lang.Long">
        select count(*) from t_salelist_payment_information
        <where>
            <if test="saleNumber!=null">
                and saleNumber like #{saleNumber}
            </if>
            <if test="type!=null">
                and type = #{type}
            </if>
            <if test="customerId!=null">
                and customerId = #{customerId}
            </if>
            <if test="bSaleDate!=null">
                and date_format(payDate,'%Y-%m-%d %H:%i:%S') &gt;= date_format(#{bSaleDate},'%Y-%m-%d %H:%i:%S')
            </if>
            <if test="eSaleDate!=null">
                and date_format(payDate,'%Y-%m-%d %H:%i:%S') &lt;= date_format(#{eSaleDate},'%Y-%m-%d %H:%i:%S')
            </if>
        </where>
    </select>
    <insert id="add" parameterType="SaleListPaymentInformation">
        insert into t_salelist_payment_information (saleNumber, type, amount, customerId, payDate) values (#{saleNumber},#{type},#{amount},#{customerId},now());
    </insert>
</mapper>
