<?xml version="1.0" encoding="UTF-8" ?>
<!--suppress ALL-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ledao.mapper.VaccineMapper">
    <resultMap id="VaccineResult" type="Vaccine">
        <result column="id" property="id"/>
        <result column="createDate" property="createDate"/>
        <result column="customerName" property="customerName"/>
        <result column="petName" property="petName"/>
        <result column="content" property="content"/>
    </resultMap>
    <select id="list" parameterType="map" resultMap="VaccineResult">
        select * from t_vaccine
        <where>
            <if test="customerName!=null and customerName!=''">
                and customerName like #{customerName}
            </if>
            <if test="petName!=null and petName!=''">
                and petName like #{petName}
            </if>
        </where>
        order by createDate desc
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>
    <select id="getCount" parameterType="map" resultType="java.lang.Long">
        select count(*) from t_vaccine
        <where>
            <if test="customerName!=null and customerName!=''">
                and customerName like #{customerName}
            </if>
            <if test="petName!=null and petName!=''">
                and petName like #{petName}
            </if>
        </where>
    </select>
    <insert id="add" parameterType="Vaccine">
        insert into t_vaccine (createDate, customerName, petName, content) values (now(),#{customerName},#{petName},#{content});
    </insert>
    <update id="update" parameterType="Vaccine">
        update t_vaccine
        <set>
            <if test="customerName != null and customerName != ''">
                customerName=#{customerName},
            </if>
            <if test="petName != null and petName != ''">
                petName=#{petName},
            </if>
            <if test="content != null and content != ''">
                content=#{content},
            </if>
        </set>
        where id=#{id}
    </update>
    <delete id="delete" parameterType="integer">
        delete from t_vaccine where id=#{id}
    </delete>
    <select id="findById" parameterType="integer" resultMap="VaccineResult">
        select * from t_vaccine where id=#{id}
    </select>
</mapper>
