<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="b">
    <div id="all" style="padding-top: 20px">
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- breadcrumb-->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <i class="fa fa-eye" style="padding-top: 2px"></i>当前位置:&nbsp;&nbsp;
                                <li class="breadcrumb-item"><a href="/">主页</a></li>
                                <li class="breadcrumb-item"><a href="/customer/personalCenter">个人中心</a></li>
                                <li class="breadcrumb-item"><span th:text="${title}"></span></li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-3">
                        <div th:include="page/customer/menuLeft::#m"></div>
                    </div>
                    <div id="basket" class="col-lg-9" th:if="${vaccineList.size()<1}">
                        <div class="box container">
                            <h3>您还没有疫苗注射记录</h3>
                        </div>
                    </div>
                    <div id="basket" class="col-lg-9" th:if="${vaccineList.size()>=1}">
                        <div class="box container">
                                <p class="text-muted">您一共有 <span
                                        th:text="${total}" style="color: orangered"></span> 个疫苗注射记录</p>
                                <div>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th style="text-align: center">宠物头像</th>
                                            <th style="text-align: center">宠物名称</th>
                                            <th style="text-align: center">创建时间</th>
                                            <th style="text-align: center">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="vaccine:${vaccineList}">
                                            <td style="text-align: center">
                                                <a th:href="@{'/vaccine/vaccineDetails?vaccineId='+${vaccine.id}}">
                                                    <img th:src="@{'/static/images/petImage/'+${vaccine.pet.imageName}}"
                                                         style="height: 40px;width: 40px" alt="图片不存在或已删除"></a>
                                            </td>
                                            <td style="text-align: center;margin-top: 1px">
                                                <span style="padding-top: 2px"
                                                      th:text="${#dates.format(vaccine.createDate,'yyyy-MM-dd HH:mm:ss')}"></span>
                                            </td>
                                            <td style="text-align: center">
                                                <span th:text="${vaccine.petName}"></span>
                                            </td>
                                            <td style="text-align: center">
                                                <a th:href="@{'/vaccine/vaccineDetails?vaccineId='+${vaccine.id}}"
                                                   title="查看详情"><i class="fa fa-search"
                                                                   style="font-size: 20px;color: #0099FF"></i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive-->
                        </div>
                        <div class="pages" th:if="${total>4}">
                            <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                                <ul class="pagination">
                                    <div th:utext="${pageCode}" class="form-inline"></div>
                                </ul>
                            </nav>
                        </div>
                        <!-- /.box-->
                    </div>
                    <!-- /.col-lg-9-->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>