<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="b">
    <div id="all" style="padding-top: 20px">
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- breadcrumb-->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <i class="fa fa-eye" style="padding-top: 2px"></i>当前位置:&nbsp;&nbsp;
                                <li class="breadcrumb-item"><a href="/">主页</a></li>
                                <li class="breadcrumb-item"><span>预约单填写成功!!</span></li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-3">
                        <div class="card sidebar-menu mb-4">
                            <div class="card-header">
                                <h3 class="h4 panel-title">预约分类</h3>
                            </div>
                            <div class="card-body">
                                <ul class="nav flex-column nav-pills">
                                    <li>
                                        <a href="/reservation/addDoctorReservation" class="nav-link">预约医生</a>
                                    </li>
                                    <li>
                                        <a href="/reservation/addBeauticianReservation" class="nav-link">预约美容师</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.col-lg-3-->
                    </div>
                    <div id="blog-post" class="col-lg-9">
                        <div class="box form-inline">
                            <h1 style="text-align: center">预约单填写成功!!</h1><h2><a href="/reservation/myReservation/list/1">点击跳转到我的预约单</a></h2>
                        </div>
                        <!-- /.box-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>