<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="b">
    <div id="all" style="padding-top: 40px">
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- breadcrumb-->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <i class="fa fa-eye" style="padding-top: 2px"></i>当前位置:&nbsp;&nbsp;
                                <li class="breadcrumb-item"><a href="/">主页</a></li>
                                <li aria-current="page" class="breadcrumb-item active">我的购物车</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-3">
                        <div id="order-summary" class="box">
                            <div class="box-header">
                                <h3 class="mb-0">订单摘要</h3>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>商品总计</td>
                                        <th>￥446.00</th>
                                    </tr>
                                    <tr>
                                        <td>运费</td>
                                        <th>￥10.00</th>
                                    </tr>
                                    <tr class="total">
                                        <td>总金额</td>
                                        <th>￥456.00</th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-3-->
                    <div id="basket" class="col-lg-9">
                        <div class="box container">
                            <form method="post" action="checkout1.html">
                                <h1>我的购物车</h1>
                                <p class="text-muted">当前有 <span th:text="${session.shoppingCart.getShoppingCartItems().size()}"></span> 种商品</p>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th colspan="2">商品信息</th>
                                            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数量</th>
                                            <th>&nbsp;&nbsp;&nbsp;单价</th>
                                            <th>&nbsp;&nbsp;折扣</th>
                                            <th colspan="2">&nbsp;&nbsp;小计</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="shoppingCartItems:${session.shoppingCart.getShoppingCartItems()}">
                                            <td><a th:href="@{'/goods/'+${shoppingCartItems.getGoods().getId()}}"><img th:src="@{'/static/images/goodsImage/'+${shoppingCartItems.getGoods().getImageName()}}" style="height: 60px;width: 60px" alt="White Blouse Armani"></a></td>
                                            <td><a th:href="@{'/goods/'+${shoppingCartItems.getGoods().getId()}}" th:title="${shoppingCartItems.getGoods().getName()}"><span th:text="${shoppingCartItems.getGoods().getName()}"></span></a></td>
                                            <td>
                                                <div class="form-inline">
                                                    <button class="btn-danger" style="width: 24px">-</button>&nbsp;<input type="text" th:value="${shoppingCartItems.getCount()}" class="form-control" style="width: 50px;text-align:center;">&nbsp;<button class="btn-success" style="width: 24px">+</button>
                                                </div>
                                            </td>
                                            <td>￥<span th:text="${shoppingCartItems.getGoods().getSellingPrice()}"></span></td>
                                            <td>￥0.00</td>
                                            <td>￥<span th:text="${shoppingCartItems.getGoods().getSellingPrice()}*${shoppingCartItems.getCount()}"></span></td>
                                            <td><a th:href="'javascript:removeShoppingCartItem('+${shoppingCartItems.getGoods().getId()}+')'" title="从购物车中移除该商品"><i class="fa fa-trash-o" style="color: red;font-size: 20px"></i></a></td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th colspan="5">总金额</th>
                                            <th colspan="2">￥446.00</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!-- /.table-responsive-->
                                <div class="box-footer d-flex justify-content-between flex-column flex-lg-row">
                                    <div class="left"><a href="/goods/list/1?typeId=21" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i>继续购物</a></div>
                                    <div class="right">
                                        <button class="btn btn-outline-secondary"><i class="fa fa-refresh"></i>刷新购物车</button>
                                        <button type="submit" class="btn btn-primary">立即支付<i class="fa fa-chevron-right"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.box-->
                        <div class="row same-height-row" th:if="${session.currentBrowse.size()>0}">
                            <div class="col-md-3 col-sm-6">
                                <div class="box same-height">
                                    <h3><i class="fa fa-history"></i>最近浏览</h3>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6" th:each="currentBrowse:${session.currentBrowse}">
                                <div class="product same-height">
                                    <div class="flip-container">
                                        <div class="flipper">
                                            <div class="front"><a th:href="@{'/goods/'+${currentBrowse.id}}"><img th:src="@{'/static/images/goodsImage/'+${currentBrowse.imageName}}" alt="" class="img-fluid"></a></div>
                                            <div class="back"><a th:href="@{'/goods/'+${currentBrowse.id}}"><img th:src="@{'/static/images/goodsImage/'+${currentBrowse.imageName}}" alt="" class="img-fluid"></a></div>
                                        </div>
                                    </div><a th:href="@{'/goods/'+${currentBrowse.id}}" class="invisible"><img th:src="@{'/static/images/goodsImage/'+${currentBrowse.imageName}}" alt="" class="img-fluid"></a>
                                    <div class="text">
                                        <a th:href="@{'/goods/'+${currentBrowse.id}}" style="color: black"><h3 th:text="${currentBrowse.name}"></h3></a>
                                        <p class="price" th:text="'￥'+${currentBrowse.sellingPrice}"></p>
                                    </div>
                                </div>
                                <!-- /.product-->
                                <div class="ribbon new" th:if="${currentBrowse.isNew==1}">
                                    <div class="theribbon">新品</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon-->
                                <div class="ribbon sale" th:if="${currentBrowse.hot==1}">
                                    <div class="theribbon">热卖</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon-->
                                <div class="ribbon gift" th:if="${currentBrowse.specialPrice==1}">
                                    <div class="theribbon">特价</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon-->
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-9-->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>