<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="b">
    <div id="all" style="padding-top: 20px">
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- breadcrumb-->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <i class="fa fa-eye" style="padding-top: 2px"></i>当前位置:&nbsp;&nbsp;
                                <li class="breadcrumb-item"><a href="/">主页</a></li>
                                <li class="breadcrumb-item"><a href="/customer/personalCenter">个人中心</a></li>
                                <li class="breadcrumb-item"><span th:text="${title}"></span></li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-3">
                        <div th:include="page/customer/menuLeft::#m"></div>
                    </div>
                    <div id="blog-post" class="col-lg-9">
                        <div class="box">
                            <h1 style="text-align: center">修改个人信息</h1>
                            <form action="/customer/save" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>用户名:</label>
                                    <input type="hidden" name="id" th:value="${session.currentCustomer==null?'':session.currentCustomer.getId()}">
                                    <input id="userName" name="userName" required="required" type="text" class="form-control" readonly="readonly"
                                           th:value="${session.currentCustomer==null?'':session.currentCustomer.getUserName()}">
                                </div>
                                <div class="form-group">
                                    <label>密码:</label><span id="passwordErrorInfo" style="color: red"></span>
                                    <input id="password1" name="password" type="password" required="required" class="form-control" onblur="checkPassword(this.value)"
                                           th:value="${session.currentCustomer==null?'':session.currentCustomer.getPassword()}" placeholder="必填">
                                </div>
                                <div class="form-group">
                                    <label>确认密码:</label>
                                    <input id="password2" name="password2" type="password" required="required" class="form-control"
                                           th:value="${session.currentCustomer==null?'':session.currentCustomer.getPassword()}" placeholder="必填">
                                </div>
                                <div class="form-group">
                                    <label>真实姓名:</label>
                                    <input id="contact" name="contact" type="text" required="required" class="form-control"
                                           th:value="${session.currentCustomer==null?'':session.currentCustomer.getContact()}" placeholder="必填">
                                </div>
                                <div class="form-group">
                                    <label>头像:</label>
                                    <input type="file" name="customerImage">
                                </div>
                                <div class="form-group">
                                    <label>联系方式:</label>
                                    <input id="number" name="number" type="text" required="required" class="form-control"
                                           th:value="${session.currentCustomer==null?'':session.currentCustomer.getNumber()}" placeholder="必填">
                                </div>
                                <div class="form-group">
                                    <label>收货地址:</label>
                                    <input id="address" name="address" type="text" required="required" class="form-control"
                                           th:value="${session.currentCustomer==null?'':session.currentCustomer.getAddress()}" placeholder="必填">
                                </div>
                                <div class="form-group">
                                    <label>公司名称:</label>
                                    <input id="name" name="name" type="text" class="form-control" placeholder="可不填..."
                                           th:value="${session.currentCustomer==null?'':session.currentCustomer.getName()}">
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-edit"></i> 立即修改
                                    </button>
                                </div>
                            </form>
                        </div>
                        <!-- /.box-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>