<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="b">
    <div id="all" style="padding-top: 20px">
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- breadcrumb-->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <i class="fa fa-eye" style="padding-top: 2px"></i>当前位置:&nbsp;&nbsp;
                                <li class="breadcrumb-item"><a href="/">主页</a></li>
                                <li class="breadcrumb-item"><a href="/customer/personalCenter">个人中心</a></li>
                                <li class="breadcrumb-item"><a href="/customer/myPet/list/1">我的宠物</a></li>
                                <li class="breadcrumb-item"><span th:text="${title}"></span></li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-3">
                        <div th:include="page/customer/menuLeft::#m"></div>
                    </div>
                    <!-- /.col-lg-3-->
                    <div id="blog-post" class="col-lg-9">
                        <div class="box">
                            <h1 style="text-align: center">添加宠物信息</h1>
                            <form action="/pet/save" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>宠物名称:</label>
                                    <input id="petName" name="name" type="text" class="form-control" required="required" th:value="${pet==null?'':pet.name}" placeholder="必填">
                                </div>
                                <div class="form-group">
                                    <label>年龄:</label>
                                    <input id="petAge" name="age" type="text" class="form-control" required="required" th:value="${pet==null?'':pet.age}" placeholder="必填">
                                </div>
                                <div class="form-group">
                                    <label>头像:</label>
                                    <input type="file" name="petImage">
                                </div>
                                <div class="form-group">
                                    <label>宠物类型:</label>
                                    <input id="petTypeName" name="typeName" type="text" required="required" class="form-control" th:value="${pet==null?'':pet.typeName}" placeholder="必填">
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">立即添加</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.box-->
                    </div>
                    <!-- /.col-lg-9-->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>