<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="deleteByPrimayKeyEnabled" value="false" />
        <option name="genSqlFilePath" value="$PROJECT_DIR$/src/main/java/com/ledao/entity" />
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="insertMethodEnabled" value="false" />
        <option name="insertSelectiveMethodEnabled" value="false" />
        <option name="javaMapperPackage" value="com.ledao.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="javaModelPackage" value="com.ledao.entity" />
        <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="PetHospital" />
        <option name="lombokDataAnnotation" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="PetHospital">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.ledao.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaModelPacakge" value="com.ledao.entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.ledao.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaServicePackage" value="com.ledao.serviceimpl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="xmlPackage" value="mybatis.mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="selectByPrimaryKeyEnabled" value="false" />
        <option name="tableGenerateConfigs">
          <map>
            <entry key="db_mybatis:t_user">
              <value>
                <TableGenerateConfig>
                  <option name="columnOverrideList">
                    <list>
                      <MyColumnOverride>
                        <option name="columnName" value="userName" />
                        <option name="javaProperty" value="userName" />
                      </MyColumnOverride>
                    </list>
                  </option>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="User" />
                  <option name="moduleName" value="PetHospital" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="db_pethospital:t_user">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="User" />
                  <option name="moduleName" value="PetHospital" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="true" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
        <option name="updateByPrimaykeyEnabled" value="false" />
        <option name="useActualColumnNames" value="true" />
        <option name="xmlMapperPackage" value="mybatis.mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>