<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="b">
    <div id="all" style="padding-top: 20px">
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- breadcrumb-->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <i class="fa fa-eye" style="padding-top: 2px"></i>当前位置:&nbsp;&nbsp;
                                <li class="breadcrumb-item"><a href="/">主页</a></li>
                                <li class="breadcrumb-item"><a th:href="'/article/list/1?typeId='+${article.typeId}" th:text="${typeName}"></a></li>
                                <li aria-current="page" class="breadcrumb-item active" th:text="${article.title}"></li>
                            </ol>
                        </nav>
                    </div>
                    <div id="blog-post" class="col-lg-9">
                        <div class="box">
                            <h1 th:text="${article.title}" style="text-align: center"></h1>
                            <div style="text-align: center">
                                <p class="author-date">
                                    发布日期:&nbsp;<span th:text="${#dates.format(article.releaseDate,'yyyy-MM-dd HH:mm:ss')}"></span>
                                    &nbsp;&nbsp;阅读次数:&nbsp;<span th:text="${article.click}"></span>
                                    &nbsp;&nbsp;文章类型:&nbsp;<span th:text="${typeName}"></span>
                                </p>
                            </div>
                            <div id="post-content" th:utext="${article.content}"></div>
                            <!-- /#post-content-->
                            <div th:utext="${pageCode}" style="font-size: 16px"></div>
                        </div>
                        <!-- /.box-->
                    </div>
                    <!-- /#blog-post-->
                    <div class="col-lg-3">
                        <!--
                        *** BLOG MENU ***
                        _________________________________________________________
                        -->
                        <div class="card sidebar-menu mb-4">
                            <div class="card-header">
                                <h3 class="h4 panel-title">文章分类</h3>
                            </div>
                            <div class="card-body">
                                <ul class="nav flex-column nav-pills">
                                    <li th:each="articleType:${application.articleTypeList}">
                                        <a th:href="'/article/list/1?typeId='+${articleType.id}" class="nav-link" th:text="${articleType.name}"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.col-lg-3-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>